@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-transitions * {
  transition: none !important; /*Disable transitions on toggleTheme to prevent flashes*/
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

html {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.02;
  z-index: -10;
  pointer-events: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}



/* width */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(65, 68, 77, 0.473);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 85, 0, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222;

}


/*markdown styles*/

#post_container img {
  max-width: 50%;
  height: auto;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#post_container #two-images{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

#post_container #two-images img {
  max-width: 45%;
  height: auto;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}


#post_container h1 {
  font-size: 2rem;
}

#post_container h2 {
  font-size: 1.5rem;
  padding-top: 1rem;
  border-top: rgb(64 64 64 / var(--tw-divide-opacity)) 1px solid;
}

#post_container h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

#post_container {
  font-size: 1.1rem;
  line-height: 1.5;
}

#post_container a {
  color: #cc4400;
  text-decoration: none;
}

#post_container a:hover {
  color: #ff5500;
}

#post_container strong {
  font-weight: 600;
}

#post_container blockquote {
  border-left: 4px solid #ff5500;
  padding-left: 1rem;
  margin-left: 0;
} 

/*marker*/

#post_container #disclaimer {
  background-color: rgba(255, 85, 0, 0.1);
  border: 2px dashed #ff5500;
  border-radius: 10px;
  padding: 1rem;
}

#post_container #disclaimer h3{
  font-weight: bold;
  margin: .3rem;
}

#post_container #disclaimer a{
  color: #98FF98;
  text-decoration: none;
} 

#post_container #disclaimer a:hover{
  color: #5cff5c;
  text-decoration: underline;
} 

#post_container ::marker {
  color: #ff5500;
}
#post_container ::marker ::marker {
  color: #ffaa80;
}

@media screen and (max-width: 768px) {
  #post_container ul {
    margin-left: -25px; /* Reduce el margen izquierdo en dispositivos móviles */
  }
  
  #post_container ul ul {
    margin-left: -50px; /* Reduce el margen izquierdo de las listas anidadas en dispositivos móviles */
  }

  #post_container img {
    max-width: 100%;
  }
}
