@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(24, 25, 28);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #003f91;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222;

}
a:not(nav a){
  color: #58a6ff;
}

a:not(nav a):hover{
  color: #0376fa;
}